<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<title>Datenerfassung</title>
	</head>

	<body>
		<img src="F:/comline.jpg" align="right" vspace="10" hspace="30">
		<h1>Eingabemaske zur Datenverarbeitung</h1>
		<h2>Bitte füllen Sie die Felder aus:</h2>
		
		<form>
		<p>
			Vorname
			<br><input type="text" name="vorname" size=40 maxlength=40>
		<br>
		</p>
		<p>
			Nachname
			<br><input type="text" name="nachname" size=40 maxlength=40>
		<br>
		</p>
		<p>
			Adresse
			<br><input type="text" name="adresse" size=40 maxlength=40>
		<br>
		</p>
		<p>
			Wohnort
			<br><input type="text" name="wohnort" size=40 maxlength=40>
		<br>
		</p>		  
			<button type="reset">Eingaben zurücksetzen</button>
			<button type="submit" value="Daten senden">Eingaben in Datenbank übertragen</button>
			<button type="submit">Eingaben in PDF Dokument übertragen</button>
		  </form>

		<p>
			<br><br>
			Durch den Klick auf "Eingaben in Datenbank/PDF Dokument übertragen" stimmen Sie der Verarbeitung
			Ihrer Daten durch unsere Organisation zu.
		</p>
	</body>

</html>

