<!DOCTYPE html>

<html>

	<head>
		<title>Datenerfassung</title>
	</head>

	<body>
		<img src="F:/comline.jpg" align="right" vspace="10" hspace="30">
		<h1>Eingabemaske zur Datenverarbeitung</h1>
		<h2>Bitte füllen Sie die Felder aus:</h2>
		<p>
		<form>
			<label for="name">Name</label>
			<input id="name" hspace="79">
		<br>
		</p>
		<p>
			<label for="nachname">Nachname</label>
			<input id="nachname" hspace="49">
		<br>
		</p>
		<p>
			<label for="adresse">Adresse</label>
			<input id="adresse" hspace="66">
		<br>
		</p>
		<p>
			<label for="plz/wohnort">PLZ/Wohnort</label>
			<input id="wohnort" hspace="29">
		<br>
		</p>		  
			<button type="reset">Eingaben zurücksetzen</button>
			<button type="submit">Eingaben in Datenbank übertragen</button>
			<button type="submit">Eingaben in PDF Dokument übertragen</button>
		  </form>
		<p>
			<br><br>
			Durch den Klick auf "Eingaben in Datenbank/PDF Dokument übertragen" stimmen Sie der Verarbeitung
			Ihrer Daten durch unsere Organisation zu.
		</p>
	</body>

</html>


